*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  height: 100vh;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
}